
svg {
    border: 1px solid black;
}
svg .point {
    fill: black;
}
svg .grid{
    stroke: gray;
    stroke-width: 0.5;
}
/* Стили для всех элементов с классом 'label' внутри svg */
svg .label {
    font-size: 6px;
    text-anchor: middle;
    dominant-baseline: middle;
    font-weight: normal;
}
svg .figure{
    fill:lightgray;
    stroke:gray; /* Цвет границы полукруга*/
    stroke-width: 1;
}